
<h1>
  <%= @question %>
</h1>
<p> - You</p>

<h1>
  <%= @answer %>
</h1>
<p> - Your coach</p>

 <div class="container text-center padded features">
  <%= link_to "Ask a new question", your_question_path %>
   </div>
